@charset "UTF-8";
body {  margin: 0; padding: 0; border: 0;}
 
.wriper {
    width: 100%;
   /*  border: 2px solid green;*/
    height: 3000px;
    background-color: #f6f5f8;
}

 

.header-top {
    background:#802bbd ;    
    height:80px;
}

 
.header-bottom {   
    height:340px;  
    background-color: gray;  
}

.filter {
     background-color:white;
     height:50px;  
     border-bottom: 2px solid #efeef1;
}

section {
     width: 810px;
     margin: 0 auto; /* location div = center*/
}

article {
      background-color: white;    
      height:140px;    
      border: 1px solid #efeef1;
      margin-top: 40px;
}
