@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

 

div {
    
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
}
 
.wriper {
    width: 100%;
    min-width: 758px;
    height: 3000px;
    background-color: #f6f5f8;
}
/* start header-top top*/

.header-top {
    background: #802bbd;
    height: 80px;
    width: 100%;
}

.add {
    width: 1%;
    height: 100%;
    float: right;
    
}

.add img {
    height: 60px;
    width: 60px;
    
    float: right;
    padding-top: 10px;;
}

.helo-usen-name {
    float: right;
    width: 20%;
    margin-top: 20px;
    font-size: 12px;
    color: white;
    text-align: right;
}

.helo-usen-name span {
    font-size: 14px;
}

.user-icon {
    /* селектор для класса avatar */
    
    float: right;
    width: 10%;
    margin: 12px;
    background: #fff;
    /* фон */
    
    width: 40px;
    /* ширина */
    
    height: 40px;
    /* высота */
    
    border: 2px solid #fff;
    /* граница(ширина, тип, цвет) */
    
    border-radius: 50%;
    /*скругление равно 50 процентам от общей ширины, фактически 25 пикселей, вот и круг получили(ещё есть с префиксом -moz и -o) */
}

.user-icon img {
    /* селектор для картинки, которая "внутри" класса avatar */
    
    display: block;
    /* картинка выводится как блок, по ширине будет равен родителю(диву в котором      находится) */
    
    width: 100%;
    /* ширина 100% */
    
    border: 0;
    /* граница нулевая */
    
    margin: 0;
    /* внешний отступ отстутствует */
    
    border-radius: 50%;
    /* читай выше */
}

.logo {
    float: left; 
    font-size: 66px;
    color: white;
    
    width: 63%;
    
     
}
.logo img{

  padding-left: 35%; 
    width: 229px;
    height: 50px;
 
}


.menu-humburger {
    float: left;
    width: 6%;
    height: 80px;
}

.menu-humburger img { 
    width: 24px;
    height: 11px;
    
    float: right;
    padding-top: 30px;
   
}
/* END header-top top*/
/***************************************************************************/
/* START header-bottom  */

.header-bottom {
    max-height: 340px;
    background-color: gray;
    position: relative;
    
     
}

.header-bottom img {
    
    /* поправка щоб картінка не зїжала*/
}

.user-data {
    width: 758px;
    /* 
    width: 100%;
    width: 800px;
    */
    
    height: 30;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5%;
    color: white;
}

.user-data img {
    float: left;
    max-height: 180px;
    max-width: 180px;
    /* Выравнивание по левому краю */
    
    margin: 0 20px 0 0;
    /* Отступы вокруг картинки */
}

.user_name {
    font-size: 26px;
    margin-top: 70px;
}

.user_karma {
    font-size: 12px;
    margin-top: 20px;
}

.user_menu {
    margin-top: 30px;
}

.user_menu a {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
}
/* end header top*/
/********************************************************************************/
/* BEGIN  filter*/

.filter {
    background-color: white;
    border-bottom: 2px solid #efeef1;
    padding-left: 30%;
}

.active {
    color: coral;
}

.active-no {
    color: deepskyblue;
}

.filter img {
    vertical-align: middle;
}

.filter span {}
/* END filter*/
/********************************************************************************/

section {
    width: 758px;
    margin: 0 auto;
    /* location div = center*/
}

article {
    background-color: white;
    height: 140px;
    border: 1px solid #efeef1;
    margin-top: 40px;
}

.center-feed {
    height: 180px;
    float: left;
    width: 50%;
}

.img-feed {
    float: left;
}

.histor-feed {
    float: left;
}

.user_foto {
    width: 180px;
    height: 140px;
}

.nic {
    color: coral;
    font-size: 18px;
}

.type {
    color: aliceblue;
}

.text {
    font-size: 24px;
}

.close-icon-feed {
    float: right;
    padding-right: 5px;
}