@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* font-family: "OpenSansRegular"; */

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */

@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */

@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */

@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */

@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */

@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */

@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

div {
    font-family: "OpenSansRegular", Times, Sans-serif;
}

.wriper {
    width: 100%;
    min-width: 1000px;
    height: 1000px;
    background-color: #f6f5f8;
}
/* start header-top top*/

.header-top {
   
    height: 80px;
    width: 100%;
}


/* права частина  */
.color-r-div {
 
    background-color: #7427ac;
    height: 80px;
    float: left;
    width: 27%;
    
}

.add {
    width: 1px;
    padding-left: 30px;
     
}

.add img {
    height: 60px;
    width: 60px;
    float: right;
    padding-top: 11px;
   
    
}

.helo-usen-name {
    float: right;
     
    margin-top: 20px;
    font-size: 14px;
    color: white;
    text-align: right;
}

.helo-usen-name span {
    font-family: "OpenSansSemiBold", Times, Sans-serif;
    font-size: 16px;
}

.user-icon {
    float: right;
    
    margin-left: 15px;
    margin-right: 40px;
    margin-top: 18px;
    
    
    background: #fff;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    /*скругление равно 50 процентам от общей ширины, фактически 25 пикселей, вот и круг получили(ещё есть с префиксом -moz и -o) */
}

.user-icon img {
    display: block;
    width: 100%;
    border: 0;
    margin: 0;
    border-radius: 50%;
}

/* ліва частина  */
.color-l-div {
    background: #802bbd;
    height: 80px;
    float: left;
    width: 73%;
    height: 80px;
}
.logo {
    float: left; 
    width: 93%;
}

.logo img {
    display: block;
    padding-top: 20px;
    padding-left: 35%;
    width: 229px;
    height: 50px;
}

.menu-humburger {
    float: left;
    width: 7%;
    height: 80px;
}

.menu-humburger img {
    width: 24px;
    height: 11px;
    float: right;
    padding-top: 31px;
}
/* END header-top top*/
/***************************************************************************/
/* START header-bottom  */

.header-bottom {
    background-color: white;
    position: relative;
}

.header-bottom img {
    /* поправка щоб картінка не зїжала*/
}

.user-data {
    width: 758px;
    /* 
    width: 100%;
    width: 800px;
    */
    
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5%;
    color: white;
}

.user-data img {
    float: left;
    height: 180px;
    width: 180px; 
    margin: 0 20px 0 0; 
}

.user_name {
    font-family: "OpenSansBold", Times, bold;
    font-size: 36px;
    margin-top: 50px;
}

.user_karma {
    font-family: "OpenSansSemiBold", Times, Sans-serif;
    font-size: 20px;
    margin-top: 5px;
}

.user_menu {
    margin-top: 30px;
}

.user_menu a {
    text-decoration: none;
    color: #aaaaab;
    font-family: "OpenSansRegular", Times, Sans-serif;
    font-size: 16px;
}

.user_menu a:hover {
    color: white;
}
/* end header top*/
/********************************************************************************/
/* BEGIN  filter*/

.filter {
    background-color: white;
    border-bottom: 2px solid #efeef1;
    padding-left: 21%;
}

.active {
    font-family: "OpenSansSemiBold", Times, Sans-serif;
    font-size: 16px;
    color: #ff5600;
}

.active-no {
    font-family: "OpenSansRegular", Times, Sans-serif;
    font-size: 16px;
    color: #c8b4d7;
}

.filter img {
    vertical-align: middle;
}

.filter span {
    margin-left: 50px;
    margin-right: 50px;
}
/* END filter*/
/********************************************************************************/

section {
    width: 758px;
    margin: 0 auto;
    /* location div = center*/
    
    margin-top: 30px;
}

article {
    background-color: white;
    height: 140px;
    border: 1px solid #efeef1;
    margin-top: 10px;
}

.center-feed {
    margin-top: 20px;
    height: 180px;
    float: left;
    width: 300px;
    ;
}

.img-feed {
    float: left;
}

.user_foto {
    width: 180px;
    height: 140px;
    float: left;
}

.nic {
    font-family: "OpenSansSemiBold", Times, Sans-serif;
    font-size: 14px;
    color: #ff5600;
}

.type {
    font-family: "OpenSansItalic", Times, Sans-serif;
    font-size: 14px;
    color: #9e9e9e;
}

.text {
    font-family: "OpenSansBold", Times, bold;
    font-size: 14px;
    color: #303030;
}

.close-icon-feed {
    float: right;
    padding-right: 15px;
}

.close-icon-feed img {
    padding-right: 5px;
}

.histor-feed {
    float: left;
    width: 150px;
    font-family: "OpenSansItalic", Times, Sans-serif;
    font-size: 14px;
    color: #9e9e9e;
    text-align: right;
    margin-top: 20px;
}

.circl-icon {
    float: left;
    left: 400px;
    width: 40px;
}

.icons img {
    float: left;
    padding-top: 20px;
    width: 35px;
}

.icons span {
    float: left;
    padding-top: 27px;
    font-family: "OpenSansLight", Times, Sans-serif;
    font-size: 14px;
    color: #8e8e8e;
}


